# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.env.list

# Fresh build directory
_fresh/
# npm dependencies
node_modules/
# certbot
certbot/
# database
main.sqlite
# logs
logs/